{% extends 'back-office/base.html.twig' %}

{% block title %}
  Liste des categories
{% endblock %}

{% block body %}
    <section class="features-section mb-4">
        <div class="container text mx-auto">
            <h2 class="section-title mb-8">Liste des categories</h2>
                <table class="row justify-content-center table-hover ">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Titre</th>
                            <th scope="col">Actions</th> 
                        </tr>
                    </thead>
                <tbody>
            {% for category in categories %}
                
                    <tr>
                        <td class="text-secondary mb-3">{{ category.id }}</td>
                        <td class="section mb-3">{{ category.title }}</td>
                                                
                        <td>
                            <a href="#" class="btn btn-outline-secondary btn-rounded mb-3">Editer</a>
                            <a href="#" class="btn btn-outline-secondary btn-rounded mb-3">Supprimer</a>
                        </td>
                    </tr>
            {% endfor %}
                
        </div>
                </tbody>
                </table>
                    <a type="button" class="btn btn-outline-secondary btn-rounded" data-mdb-ripple-init data-mdb-ripple-color="dark" href="#">Ajouter un nouvel utilisateur</a>
    </section>
{% endblock %}