{% extends 'back-office/base.html.twig' %}

{% block title %}
	Liste des quiz
{% endblock %}

{% block body %}
	<section class="features-section mb-4">
		<div class="container text mx-auto">
			<h2 class="section-title mb-8">Liste des quiz</h2>
			<table class="row justify-content-center table-hover ">

				<tbody>
					{% for quiz in quizs %}

						<tr>
							<td class="section mb-3">
								<p class="fs-4 fw-bold">{{ quiz.id }}.{{ quiz.title }}
								</p>
							</td>

							<td>
								<a href="{{ path('app_back_quiz_show', { id: quiz.id, title: quiz.link }) }}" class="btn btn-rounded btn-quiz mb-3">Voir</a>
							</td>
						</tr>
					{% endfor %}

				</tbody>
			</div>
		</table>

	</section>
{% endblock %}