{% extends 'base.html.twig' %}

{% block title %}
	Résultat du quiz
{% endblock %}

{% block body %}

<div class="container-fluid">
		<div id="scroll-point" class="my-4 "></br></div>
	

	<h1 class="text-center my-5">Résultat de votre Quiz</h1>


	<div class="card mx-auto" style="width: 35rem;">
		<p class="card-text text-center fw-bolder p-4 fs-1">résultat :
			{{ score }}
			/10</p>
		<img src="https://i.ibb.co/BBgBkwG/cup-of-coffee.png" class="card-img-top" alt="Cat end quiz"/>
		<div class="card-body text-center">
			<h5 class="card-title">{{ quiz.title }}</h5>

			<a href="{{ path('app_home') }}" class="btn btn-primary">Retour à l'accueil</a>
		</div>

		{% if score > 5 %}
			<h2 class="text-center">Votre carte récompense</h2>
			<div class="card-unstyled">
				<img src="https://i.ibb.co/P565nCn/DALL-E-2023-11-22-15-13-50-An-automatic-espresso-machine-reminiscent-of-a-De-Longhi-model-placed-on.png" class="card-img-top" alt="Cat end quiz"/>
			</div>
		{% endif %}
	</div>
</div>{% endblock %}
