{% extends 'back-office/base.html.twig' %}

{% block title %}
  Accueil
{% endblock %}

{% block body %}
  <section class="features-section mb-4">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12 col-lg-6">
          <div class="text-container">
            <h2 class="text-center section-title">Backoffice ...</h2>
            <ul class="text-center list-group">
              <a class="list-group-item mb-2" href="{{ path('app_back_users') }}">Gestion des Utilisateurs</a>
              <a class="list-group-item mb-2" href="{{ path('app_back_articles') }}">Gestion des Articles</a>
              <a class="list-group-item mb-2" href="#">Gestion des Quiz</a>
              <a class="list-group-item mb-2" href="#">Gestion des méthodes</a>
              <a class="list-group-item mb-2" href="#">Gestion des GIF/Musique</a>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
